<div class="box">
    <form class="item" #f="ngForm" (ngSubmit)="f.form.valid && login(f)">
        <div>
            <input type="email" name="email" placeholder="Email" ngModel required size="20">
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" ngModel required size="15"> 
        </div>
        <button type="submit" style="cursor: pointer">+</button>
    </form>
</div>