<div class="box">
<form class="item" #f="ngForm" (ngSubmit)="f.form.valid && onGuardarPersona()">
  <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="nombreInput" required>
  <input type="text" name="apellido" id="apellido" placeholder="Apellido" [(ngModel)]="apellidoInput" required>
  <div class="col">
    <button type="submit" style="cursor: pointer">+</button>
    <button *ngIf="index != null" type="submit" style="cursor: pointer" class="buttonRed" (click)="eliminarPersona()">-</button>
  </div>
</form>
</div>