<div style="text-align: center">
  <button style="cursor: pointer" (click)="agregar()">+</button>
</div>

<div class="box">
    <app-persona *ngFor="let elementoPersona of personas; let i = index" [persona]="elementoPersona" [indice]="i">
    </app-persona>
  </div>
 
  <router-outlet></router-outlet>